<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Главная</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="logo">
                    <a href="#">
                        <img src="/static/images/logo.jpg" alt="логотип магазина чудо-машин" title="логотип магазина чудо-машин">
                    </a>
                </div>
                <ul class="menu">
                    <li><a href="#">Главная</a></li>
                    <li><a href="/products/">Каталог</a></li>
                    <li><a href="/contacts/">Контакты</a></li>
                </ul>
            </div>
            <hr>
            <h1>Магазин подвижной техники</h1>
            <p>Добро пожаловать в уникальный магазин подвижной техники!</p>
            <hr>
            <div class="footer">
                <span>
                    &copy; "Все права надежно защищены:))"
                </span>
            </div>
        </div>
    </body>
</html>