<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Самолет</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="logo">
                    <a href="/">
                        <img src="/static/images/logo.jpg" alt="логотип магазина чудо-машин" title="логотип магазина чудо-машин">
                    </a>
                </div>
                <ul class="menu">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/products/">Каталог</a></li>
                    <li><a href="/contacts/">Контакты</a></li>
                </ul>
            </div>
            <hr>
            <h1>Самолёт</h1>
            <div class="prod-img">
                <a href="/static/images/airplane.jpg" target="_blank">
                    <img src="/static/images/airplane.jpg" alt="самолет">
                </a>
            </div>


            <h2 class="prod-descr">Описание товара</h2>
            <p class="first_letter">
                Самолет - это самое быстрое средство передвижения в нашем каталоге. Самолет подходит и для личного перемещения в пространстве
                и для транспортировки грузов. Например самоле "Руслан" поможет Вам перевезти танковую бригаду.
                <br>
                <a class="buy" href="#">Купить!</a>
            </p>

            <h3 class="prod-param">Характеристики товара</h3>
            <ul>
                <li><b>Скорость:</b> <i>до 1999 км/ч</i></li>
                <li><b>Грузоподъёмность:</b> <i>5000 тонн</i></li>
                <li><b>Число пилотов:</b> <i>18 чел.</i></li>
                <li><b>Количество посадочных мест:</b> <i>1000</i></li>
                <li><b>Романтичность:</b> <i>100%</i></li>
            </ul>
            <table>
                <caption>Характеристики в табличном представлении</caption>
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Параметр</th>
                        <th>Значение</th>
                        <th>ед. измерения</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1.</td>
                        <td>Скорость</td>
                        <td>до 1999</td>
                        <td>км/ч</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Грузоподъёмность</td>
                        <td>5000</td>
                        <td>тонн</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Число пилотов</td>
                        <td>18</td>
                        <td>чел.</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>Количество посадочных мест</td>
                        <td>1000</td>
                        <td>шт.</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>Романтичность</td>
                        <td>100</td>
                        <td>%</td>
                    </tr>
                </tbody>
            </table>

            <h3 class="prod-detail">Подробное описание товара</h3>
            <p class="full-description">
                Самолёт (он же аэроплан) — летательный аппарат тяжелее воздуха для полётов в атмосфере с помощью силовой установки, 
                создающей тягу и неподвижного относительно других частей аппарата крыла, создающего подъемную силу. 
                Неподвижное крыло отличает самолёт от орнитоптера (махолёта) и вертолёта, а наличие двигателя — от планёра. 
                От дирижабля и аэростата самолёт отличается тем, что использует аэродинамический, а не аэростатический способ создания подъёмной силы.
            </p>

            <hr>
            <div class="footer">
                <span>
                    &copy; "Все права надежно защищены:))"
                </span>
            </div>
        </div>
    </body>
</html>