<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Велосипед</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="logo">
                    <a href="/">
                        <img src="/static/images/logo.jpg" alt="логотип магазина чудо-машин" title="логотип магазина чудо-машин">
                    </a>
                </div>
                <ul class="menu">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/products/">Каталог</a></li>
                    <li><a href="/contacts/">Контакты</a></li>
                </ul>
            </div>
            <hr>
            <h1>Велосипед</h1>
            <div class="prod-img">
                <a href="/static/images/bicycle.jpg" target="_blank">
                    <img src="/static/images/bicycle.jpg" alt="велосипед">
                </a>
            </div>

            <h2 class="prod-descr">Описание товара</h2>
            <p class="first_letter">
                Велосипед - это самое компактный вид транспорта, представленный в нашем магазине.
                Имея сравнительно малые габариты, отличается непревзойденной проходимостью.
                При всех этих плюсах, велосипед позволяет поддерживать идеальную физическую форму!
                <br>
                <a class="buy" href="#">Купить!</a>
            </p>

            <h3 class="prod-param">Характеристики товара</h3>
            <ul>
                <li><b>Скорость:</b> <i>до 30 км/ч</i></li>
                <li><b>Грузоподъёмность:</b> <i>200 кг</i></li>
                <li><b>Материал рамы:</b> <i>титан</i></li>
                <li><b>Количество посадочных мест:</b> <i>1-2</i></li>
                <li><b>Романтичность:</b> <i>100%</i></li>
            </ul>
            <table>
                <caption>Характеристики в табличном представлении</caption>
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Параметр</th>
                        <th>Значение</th>
                        <th>ед. измерения</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1.</td>
                        <td>Скорость</td>
                        <td>до 30</td>
                        <td>км/ч</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Грузоподъёмность</td>
                        <td>200</td>
                        <td>кг.</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Материал рамы</td>
                        <td colspan="2">титан</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>Количество посадочных мест</td>
                        <td>1-2</td>
                        <td rowspan="2">шт.</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>Число колёс</td>
                        <td>2-3</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>Романтичность</td>
                        <td>100</td>
                        <td>%</td>
                    </tr>
                </tbody>
            </table>

            <h3 class="prod-detail">Подробное описание товара</h3>
            <p class="full-description">
                Велосипед (французское velocipede, от латинского velox - быстрый и pes - нога), 2-колесная машина для передвижения 
                с приводом от 2 педалей через цепную передачу. Различают велосипеды дорожные (в том числе складные), легкодорожные, 
                подростковые, детские, спортивные, специальные. 2-местный велосипед называется тандемом. 
                Чертеж первого велосипеда создан Леонардо да Винчи в 1493, а первый двухколесный цельнометаллический велосипед 
                построил в 1801 российский изобретатель Е.И. Артамонов. На велосипеде достигнута скорость около 100 км/ч.
            </p>

            <hr>
            <div class="footer">
                <span>
                    &copy; "Все права надежно защищены:))"
                </span>
            </div>
        </div>
    </body>
</html>