<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Автомобиль</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="logo">
                    <a href="/">
                        <img src="/static/images/logo.jpg" alt="логотип магазина чудо-машин" title="логотип магазина чудо-машин">
                    </a>
                </div>
                <ul class="menu">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/products/">Каталог</a></li>
                    <li><a href="/contacts/">Контакты</a></li>
                </ul>
            </div>
            <hr>
            <h1>Автомобиль</h1>
            <div class="prod-img">
                <a href="/static/images/car.jpg" target="_blank">
                    <img src="/static/images/car.jpg" alt="автомобиль">
                </a>
            </div>

            <h2 class="prod-descr">Описание товара</h2>
            <p class="first_letter">
                Автомобиль - это оптимальный вариант транспортного средства, отличающийся повышенным комфортом и простотой управления. 
                Достаточно нажать на педаль и слегка повернуть руль! Мягкое кресло и автоподогревом обеспечит уют в салоне в любое время 
                года, а вместительный багажник позволить не беспокоиться об отсутствии в пути ваших любимых вещей.
                <br>
                <a class="buy" href="#">Купить!</a>
            </p>

            <h3 class="prod-param">Характеристики товара</h3>
            <ul>
                <li><b>Скорость:</b> <i>до 500 км/ч</i></li>
                <li><b>Грузоподъёмность:</b> <i>2000 тонны</i></li>
                <li><b>Объем бензобака:</b> <i>20 л.</i></li>
                <li><b>Количество посадочных мест:</b> <i>4-5</i></li>
                <li><b>Романтичность:</b> <i>100%</i></li>
            </ul>
            <table>
                <caption>Характеристики в табличном представлении</caption>
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Параметр</th>
                        <th>Значение</th>
                        <th>ед. измерения</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1.</td>
                        <td>Скорость</td>
                        <td>до 500</td>
                        <td>км/ч</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Грузоподъёмность</td>
                        <td>2000</td>
                        <td>тонн</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Объем бензобака</td>
                        <td>20</td>
                        <td>л.</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>Количество посадочных мест</td>
                        <td>4-5</td>
                        <td>шт.</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>Романтичность</td>
                        <td>100</td>
                        <td>%</td>
                    </tr>
                </tbody>
            </table>

            <h3 class="prod-detail">Подробное описание товара</h3>
            <p class="full-description">
                Автомобиль - (гр. autos сам + лат. mobilis подвижной) самоходное транспортное средство для перевозки пассажиров или 
                грузов по безрельсовым дорогам; приводится в движение установленным на нем двигателем (чаше всего двигателем внутреннего 
                сгорания, работающим на бензине или дизельном топливе).
            </p>

            <hr>
            <div class="footer">
                <span>
                    &copy; "Все права надежно защищены:))"
                </span>
            </div>
        </div>
    </body>
</html>