{% extends 'mainapp/master.html' %}
{% load staticfiles %}

    {% block page_title %}
        Каталог мобильных товаров
    {% endblock%}

    {% block page_content %}
        <h1 class="catalog">{{ pagename|title }}</h1>
        <ul class="catalog-menu">
            {% for item in products %}
            <!-- <li>
                <div class="catalog-item">
                    <a href="/bicycle/">
                        <img src="{% static 'images/bicycle.jpg' %}" alt="велосипед" title="велосипед"><br>
                        <img src="{{ item.1 }}" alt="{{ item.2 }}" title="{{ item.2 }}"><br>
                        <span>Велосипед</span><br><br>
                    </a>
                </div>
            </li> -->

            <li>
                <div class="catalog-item">
                    <a href="{% url item.href %}">
                        <img src="{% static item.src %}" alt="{{ item.info }}" title="{{ item.info }}"><br>
                        <span>{{ item.info|title }}</span><br><br>
                    </a>
                </div>
            </li>
            {% endfor %}
           
        </ul>
    {% endblock %}