{% extends 'mainapp/master.html' %}
{% load staticfiles %}

    {% block page_title %}
        Вертолет
    {% endblock%}

    {% block page_content %}
        <h1>Вертолет</h1>
        <div class="prod-img">
            <a href="{% static 'images/helicopter.jpg' %}" target="_blank">
                <img src="{% static 'images/helicopter.jpg' %}" alt="вертолет">
            </a>
        </div>

        <h2 class="prod-descr">Описание товара</h2>
        <p class="first_letter">
            Вертолет - это воплощение экзотики в транспорте. Экстремальные ощущения гарантированы на всем протажении Вашего полета.
            Неповторимый звук двигателя и свист ветра создают уникальное гармоничное сочетание, не оставящее Вас равнодушным.
            <br>
            <a class="buy" href="#">Купить!</a>
        </p>

        <h3 class="prod-param">Характеристики товара</h3>
        <ul>
            <li><b>Скорость:</b> <i>до 1000 км/ч</i></li>
            <li><b>Грузоподъёмность:</b> <i>4 тонны</i></li>
            <li><b>Число пилотов:</b> <i>1-2 чел.</i></li>
            <li><b>Средство спасения:</b> <i>парашют</i></li>
            <li><b>Количество посадочных мест:</b> <i>10</i></li>
            <li><b>Романтичность:</b> <i>100%</i></li>
        </ul>
        <table>
            <caption>Характеристики в табличном представлении</caption>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Параметр</th>
                    <th>Значение</th>
                    <th>ед. измерения</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>Скорость</td>
                    <td>до 1000</td>
                    <td>км/ч</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Грузоподъёмность</td>
                    <td>4</td>
                    <td>тонн</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Число пилотов</td>
                    <td>1-2</td>
                    <td>чел.</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Средство спасения</td>
                    <td>парашют</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Количество посадочных мест</td>
                    <td>10</td>
                    <td>шт.</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Романтичность</td>
                    <td>100</td>
                    <td>%</td>
                </tr>
            </tbody>
        </table>

        <h3 class="prod-detail">Подробное описание товара</h3>
        <p class="full-description">
            Вертолёт — аэродинамический летательный аппарат, обладающий свойством совершать взлёт и посадку по вертикали, 
            зависать в воздухе и перемещаться в любом направлении. Необходимые для полёта подъёмная сила и тяга создаются 
            одним или несколькими несущими винтами (пропеллерами), которые вращаются двигателем (двигателями).
        </p>
    {% endblock%}