{% extends 'mainapp/master.html' %}
{% load staticfiles %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block page_content %}

    {% include 'mainapp/includes/inc_categories_menu.html' %}

    <hr>

    <div class="products_list">
        <div class="title clearfix">
            <h2>
                Категория: "{{ category.name|title }}"
            </h2>
        </div>
        <div class="category-products clearfix">
            {% for product in products %}
                <div class="list-item">
                    <a href="#">
                        <img src="/media/{{ product.image }}" alt="product">
                        <div class="text">
                            <h4>{{ product.name }}</h4>
                            <p>{{ product.description }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="clr"></div>
{% endblock %}

